# 服务设置
server:
  port: 8080 # 端口
  servlet:
    jsp:
      init-parameters:
        development: true # 开启JSP调试模式，修改JSP无需重启

# 数据源配置
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/movie_all?characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&useSSL=false
  mvc:
    view:
      prefix: /WEB-INF/page/ # 页面前缀
      suffix: .jsp # 页面后缀
    static-path-pattern: /static/**

# mybatis-plus 设置
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.dj.movie.pojo
  configuration:
    map-underscore-to-camel-case: true
