<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.movie.mapper.MovieCommentMapper">

    <sql id="COMMENT">
        id,movie_id,user_id,remark,create_time
    </sql>
    <insert id="addMovieComment">
        insert into movie_comment (movie_id,user_id,remark,create_time) values (#{MovieId},#{userId},#{remark},now())
    </insert>

</mapper>
