<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.movie.mapper.UserMapper">

    <sql id="user">
        id,username,password,phone_number,email,code,code_time,`level`,status
    </sql>

    <select id="findNameAndPwd" resultType="com.dj.movie.pojo.User">
        select <include refid="user"/> from `user` where
            username = #{username} or
            phone_number = #{username} or
            email = #{username} and
            password = #{password}
    </select>


</mapper>